# Archivos de entorno
.env

# Cache de Python
__pycache__/
*.py[cod]
*$py.class

# Entorno virtual
env/
venv/
ENV/
env.bak/
venv.bak/

# Archivos del sistema
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
